In [9]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  단지고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          c#

In [33]:
inputName = input("이름을 입력하세요.>> ")
# inputName = '다'
filt = df['이름'].str.contains(inputName)
if df.loc[filt,'이름'].count()>0:
    print(df.loc[filt])
else:
    print("검색한 데이터가 없습니다.")

       이름   학교    키  국어  영어  수학  과학  사회 SW특기
지원번호
4번    김수찬  구로고  187  40  60  70  75  80  NaN
5번    김재욱  구로고  188  15  20  10  35  10  NaN

In [43]:
# 국어점수 입력받은 점수 이상의 데이터를 출력하시오.
# kor_input = 80
kor_input =int(input("국어점수를 입력하세요.>> "))
filt = df['국어']>=kor_input
if df.loc[filt,'국어'].count() > 0 :
    print(df[filt])
else:
    print("데이터가 없습니다.")

데이터가 없습니다.

In [10]:
import pandas as pd
a = "내일은 날씨가 맑음. 안녕 다음에 봐요."
# 안녕 -> 반가워
# a.replace('안녕','반가워')

a_list = [a,'반갑습니다. 안녕','내일봐요. 내일은 날씨가 좋아요. 안녕']
data = {"title":a_list}
df = pd.DataFrame(data)

df['title'] = df['title'].str.replace('안녕','반가워')
df

                     title
0  내일은 날씨가 맑음. 반가워 다음에 봐요.
1               반갑습니다. 반가워
2   내일봐요. 내일은 날씨가 좋아요. 반가워