In [4]:
from sklearn import svm,metrics
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import requests
matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [5]:
xor_input = [
    [0,0,0],[0,1,1],[1,0,1],[1,1,0]
]

In [7]:
xor_df = pd.DataFrame(xor_input)
xor_df

   0  1  2
0  0  0  0
1  0  1  1
2  1  0  1
3  1  1  0

In [29]:
xor_df[:2]

   0  1  2
0  0  0  0
1  0  1  1

In [15]:
xor_df = pd.DataFrame(xor_input)
train_input = xor_df[[0,1]]
train_target = xor_df[2]

In [16]:
# 데이터 학습과 예측하기
clf = svm.SVC()
clf.fit(train_input,train_target)
pre = clf.predict(train_input)

In [19]:
# 정답률
score = metrics.accuracy_score(train_target,pre)
print("정답률 : ",score)

정답률 :  1.0

In [22]:
num1 = int(input("데이터1를 입력하세요."))
num2 = int(input("데이터2를 입력하세요."))
sample_data = [num1,num2]
print(sample_data)
pre = clf.predict([sample_data])
print("정답 : ",pre)

[1, 0]
정답 :  [1]