In [7]:
import pandas as pd
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  단지고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          c#

In [4]:
### columns 추가 : 없는 컬럼에 데이터를 입력하면 추가가 됨.
# df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
# df['결과'] = '불합격'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   합계   결과
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python  455  불합격
2번    강태원  구로고  184   40   35   50  55  25        Java  205  불합격
3번    강호림  구로고  168   80   75   70  80  75  javascript  380  불합격
4번    김수찬  구로고  187   40   60   70  75  80         NaN  325  불합격
5번    김재욱  구로고  188   15   20   10  35  10         NaN   90  불합격
6번    박동현  단지고  202   80  100   95  85  80           C  440  불합격
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON  240  불합격
8번    승근열  단지고  190  100   85   90  95  95          c#  465  불합격

In [8]:
#### columns 수정
df['학교'] = df['학교'] + '등학교'
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고등학교  197   90   85  100  95  85      Python
2번    강태원  구로고등학교  184   40   35   50  55  25        Java
3번    강호림  구로고등학교  168   80   75   70  80  75  javascript
4번    김수찬  구로고등학교  187   40   60   70  75  80         NaN
5번    김재욱  구로고등학교  188   15   20   10  35  10         NaN
6번    박동현  단지고등학교  202   80  100   95  85  80           C
7번    박혜정  단지고등학교  188   55   65   45  40  35      PYTHON
8번    승근열  단지고등학교  190  100   85   90  95  95          c#

In [9]:
# 국어점수 수정
df['국어'] = df['국어'] - 10
df

       이름      학교    키  국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고등학교  197  80   85  100  95  85      Python
2번    강태원  구로고등학교  184  30   35   50  55  25        Java
3번    강호림  구로고등학교  168  70   75   70  80  75  javascript
4번    김수찬  구로고등학교  187  30   60   70  75  80         NaN
5번    김재욱  구로고등학교  188   5   20   10  35  10         NaN
6번    박동현  단지고등학교  202  70  100   95  85  80           C
7번    박혜정  단지고등학교  188  45   65   45  40  35      PYTHON
8번    승근열  단지고등학교  190  90   85   90  95  95          c#

In [11]:
## 컬럼 일부분을 수정
# df['학교'].replace({"구로고등학교":'디지털고','단지고등학교':'영등포고'},inplace=True)
## 컬럼 전체 수정
# df['SW특기'] = df['SW특기'].str.upper()

df

       이름    학교    키  국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  디지털고  197  80   85  100  95  85      PYTHON
2번    강태원  디지털고  184  30   35   50  55  25        JAVA
3번    강호림  디지털고  168  70   75   70  80  75  JAVASCRIPT
4번    김수찬  디지털고  187  30   60   70  75  80         NaN
5번    김재욱  디지털고  188   5   20   10  35  10         NaN
6번    박동현  영등포고  202  70  100   95  85  80           C
7번    박혜정  영등포고  188  45   65   45  40  35      PYTHON
8번    승근열  영등포고  190  90   85   90  95  95          C#

In [13]:
### 컬럼부분 삭제
# df.drop(columns='사회',inplace=True)
df.drop(columns=['국어','과학'],inplace=True)
df

       이름    학교    키   영어   수학        SW특기
지원번호
1번    강나래  디지털고  197   85  100      PYTHON
2번    강태원  디지털고  184   35   50        JAVA
3번    강호림  디지털고  168   75   70  JAVASCRIPT
4번    김수찬  디지털고  187   60   70         NaN
5번    김재욱  디지털고  188   20   10         NaN
6번    박동현  영등포고  202  100   95           C
7번    박혜정  영등포고  188   65   45      PYTHON
8번    승근열  영등포고  190   85   90          C#

In [25]:
import pandas as pd
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  단지고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          c#

In [23]:
for df in df.values:
    print(df)

['강나래' '구로고' 197 90 85 100 95 85 'Python']
['강태원' '구로고' 184 40 35 50 55 25 'Java']
['강호림' '구로고' 168 80 75 70 80 75 'javascript']
['김수찬' '구로고' 187 40 60 70 75 80 nan]
['김재욱' '구로고' 188 15 20 10 35 10 nan]
['박동현' '단지고' 202 80 100 95 85 80 'C']
['박혜정' '단지고' 188 55 65 45 40 35 'PYTHON']
['승근열' '단지고' 190 100 85 90 95 95 'c#']

In [27]:
df['학교'].value_counts()

학교
구로고    5
단지고    3
Name: count, dtype: int64