### 파일 읽어오기

In [6]:
import pandas as pd

### 파일 읽어오기
# csv,txt,excel 파일 읽어오기

# csv 파일 읽어오기
df = pd.read_csv('movie.csv')

# txt 파일 읽어오기
df = pd.read_csv('movie_t.txt')

# excel파일 읽어오기
df = pd.read_excel('movie_e.xlsx')
df

   year    title  viewer  rating
0  2019     극한직업    1626     3.6
1  2020  남산의 부장들     475     3.5
2  2021     모가디슈     361     3.6
3  2022    범죄도시2    1269     3.5
4  2023    서울의 봄    1312     4.1