In [1]:
### 오라클 연결해서 데이터를 pandas변환
import oracledb
import pandas as pd

In [11]:
conn = oracledb.connect(user='ora_user',password='1111',dsn='localhost:1521/xe')
print(conn.version)
# cursor = conn.cursor()
query = 'select employee_id,salary from employees'
# select 데이터가 df타입으로 변경되어 가지고 옴.
df = pd.read_sql_query(query,conn)
x_list = list(df['EMPLOYEE_ID'].head())
x_list
df['SALARY'].head()

# 그래프 (x,y)

18.0.0.0.0

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_15952\1382485385.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,conn)

0     2600.0
1     2600.0
2     4400.0
3    13000.0
4     6000.0
Name: SALARY, dtype: float64