In [1]:
import pandas as pd
# ../ 폴더를 1칸 나옴. , ./ 현재폴더 , / root폴더
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

       이름   학교  학년    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고   3  197   90   85  100  95  85      Python
2번    강태원  구로고   3  184   40   35   50  55  25        Java
3번    강호림  구로고   2  168   80   75   70  80  75  javascript
4번    김수찬  구로고   1  187   40   60   70  75  80         NaN
5번    김재욱  구로고   1  188   15   20   10  35  10         NaN
6번    박동현  단지고   3  202   80  100   95  85  80           C
7번    박혜정  단지고   2  188   55   65   45  40  35      PYTHON
8번    승근열  단지고   2  190  100   85   90  95  95          c#

In [2]:
df.groupby('학년')['국어'].mean()
df['국어'].mean()
kor_groupby = df.groupby('학년')['국어'].mean()
kor_groupby[kor_groupby > df['국어'].mean()]

학년
1    27.500000
2    78.333333
3    70.000000
Name: 국어, dtype: float64

In [3]:
df['국어'].mean()
kor_groupby = df.groupby('학년')['국어'].mean()
kor_groupby[kor_groupby > df['국어'].mean()]

62.5

In [4]:
kor_groupby = df.groupby('학년')['국어'].mean()
kor_groupby[kor_groupby > df['국어'].mean()]

학년
2    78.333333
3    70.000000
Name: 국어, dtype: float64