In [48]:
from sklearn import svm,metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import matplotlib
import glob, os.path, re

matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [10]:
# url내용을 csv파일로 저장하고, df로 변환후 출력하시오.
# import requests
# files = 'm.csv'
# url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
# res = requests.get(url)
# with open(files,'w',encoding='utf-8-sig') as f:
#    f.write(res.text)

독버섯과 식용버섯을 분류하는 알고리즘을 구현하시오.

In [49]:
df = pd.read_csv('m.csv',header=None)
df.shape

(8124, 23)

In [26]:
df.iloc[:,1:].head(3)

  1  2  3  4  5  6  7  8  9  10  ... 13 14 15 16 17 18 19 20 21 22
0  x  s  n  t  p  f  c  n  k  e  ...  s  w  w  p  w  o  p  k  s  u
1  x  s  y  t  a  f  c  b  k  e  ...  s  w  w  p  w  o  p  n  n  g
2  b  s  w  t  l  f  c  b  n  e  ...  s  w  w  p  w  o  p  n  n  m

[3 rows x 22 columns]

In [47]:
# 아스키 코드로 변환
# for row_index,row in df.iterrows():
#     target.append(row.loc[0])  # target결과 데이터 저장
#     row_data = []
#     for v in row.loc[1:]:
#         row_data.append(ord(v)) # 1줄의 데이터를 숫자로 변경해서 list에 저장 
    
#     data.append(row_data)  # 1줄 리스트를 다시 리스트에 추가  

# df2 = pd.DataFrame(data)
# df2.head()

In [53]:
df.head(5)

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [54]:
[0]*12

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# x	s	n	t	p	f	c	n	k	...	k	s	u 22개의 데이터를 가져옴.

In [56]:
# 원핫 인코딩으로 변환
target = []
data = []
attr_list = []
for row_index,row in df.iterrows():
    target.append(row.loc[0])  # target결과 데이터 저장
    row_data = []
    for col,v in enumerate(row.loc[1:]): 
        if row_index == 0:
            attr = {"dic":{},"cnt":0}  # cnt 종류수 
            attr_list.append(attr)
        else:
            attr = attr_list[col] 
        
        # 원핫인코딩 변환
        d = [0]*12  #[0,0,0,0,0,0,0,0,0,0,0,0]
        if v in attr["dic"] :
            idx = attr["dic"][v] 
            # print(idx)
        else:
            idx = attr['cnt'] 
            attr['dic'][v] = idx
            # print(attr['dic'][v])
            attr["cnt"] += 1   
            
        d[idx] = 1
        row_data += d #원핫인코딩의 데이터 저장파일 - 데이터의 가중치때문에 정답률이 다를수 있음.     
    
    data.append(row_data)  # 1줄 리스트를 다시 리스트에 추가  

data[0]
# df2 = pd.DataFrame(data)
# df2.head()

[1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [57]:
from sklearn.ensemble import RandomForestClassifier

# 데이터 전처리 - train,test세트 구현
train_input,test_input,train_target,test_target = train_test_split(data,target)

# 데이터 학습시키기
clf = RandomForestClassifier()
# clf = svm.SVC()
# clf = KNeighborsClassifier()
clf.fit(train_input,train_target)

# 데이터 예측하기
predict = clf.predict(test_input)
print("결과값 : ",predict)

# 정답률 구하기
score  = clf.score(test_input,test_target)
print("정답률 : ",score)

결과값 :  ['e' 'p' 'p' ... 'e' 'e' 'p']
정답률 :  1.0