In [25]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import requests
import oracledb
matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [28]:
# https -> 보안키가 적용되어 데이터가 넘어옴.
url="http://api.odcloud.kr/api/3051434/v1/uddi:a9238a42-556e-4feb-8e2e-f89c7ff72fb9_201706131814?page=1&perPage=10&serviceKey=918RE13GA7OY7ZEmUzApgbOeAcQoZ%2FaHsXWcqPAKQ9YNNPj83KOstRMRIUrCFIAcm9qj2R6b7NFZjp%2FYsYzJLg%3D%3D"
res = requests.get(url)
type(res.text)

# json데이터 변경
json_data = res.json()
json_data

datas = json_data['data']
type(datas)

list

In [27]:
df = pd.DataFrame(datas)

In [21]:
df[df['시도']=='서울']['총진료비(천원)'].info()
df[df['시도']=='서울']['총진료비(천원)'].astype(int).sum()

<class 'pandas.core.series.Series'>
Index: 4 entries, 4 to 7
Series name: 총진료비(천원)
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

1576327602

In [35]:
df.groupby('시도')['총진료비(천원)'].sum()

시도
부산    9.157824e+08
서울    1.576328e+09
전국    1.088767e+10
Name: 총진료비(천원), dtype: float64

In [31]:
# 지역별 총진료비 합계를 출력하시오.
df['총진료비(천원)'] = df['총진료비(천원)'].astype(float)

In [32]:
df['총진료비(천원)'].

0    5.443836e+09
1    3.031987e+09
2    1.558049e+09
3    8.538000e+08
4    7.881638e+08
5    3.824160e+08
6    2.676845e+08
7    1.380633e+08
8    5.732066e+08
9    3.425759e+08
Name: 총진료비(천원), dtype: float64