In [2]:
### 오라클 연결해서 데이터를 pandas변환
import oracledb
import pandas as pd

18.0.0.0.0

In [9]:
conn = oracledb.connect(user='ora_user',password='1111',dsn='localhost:1521/xe')
print(conn.version)
# cursor = conn.cursor()
query = 'select * from board'
# select 데이터가 df타입으로 변경되어 가지고 옴.
df = pd.read_sql_query(query,conn)
df

18.0.0.0.0

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_872\1980312902.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,conn)

,BNO,ID,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,1,aaa,제목입니다.,내용입니다,2024-04-29 10:05:19,1,0,0,1,None
1,2,bbb,제목입니다2.,내용입니다2,2024-04-29 10:06:05,2,0,0,1,None
2,4,aaa,제목입니다.3,내용입니다3,2024-04-29 10:09:36,4,0,0,1,None

In [10]:
conn.close()

In [11]:
df

,BNO,ID,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,1,aaa,제목입니다.,내용입니다,2024-04-29 10:05:19,1,0,0,1,None
1,2,bbb,제목입니다2.,내용입니다2,2024-04-29 10:06:05,2,0,0,1,None
2,4,aaa,제목입니다.3,내용입니다3,2024-04-29 10:09:36,4,0,0,1,None